/*
Author: Tung Tran
*/
* {margin:0;padding:0}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}
.header-title {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 100px;
    color: #000;
}

.main-content {
    position: relative;
    margin:0 auto;
}
.main-box {
    margin: 40px auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
}
.content {
    padding-top: 20px;
}
.content-2 {
    padding-top: 20px;
}
.box_1 {
    background: #f6811f;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
}
.box_2 {
    background: #0054a6;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
}
.box_3 {
    background: #1b1464;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
}
.box_4 {
    background: #003663;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
}
.box_5 {
    background: #197b30;
    color: #fff;
    width: 100%;
    height: 195px;
    text-align: center;
    vertical-align: center;
}
.box_6 {
    background: #0076a3;
    color: #fff;
    width: 100%;
    height: 195px;
    text-align: center;
    vertical-align: center;
}
.box_7 {
    background: #a67c52;
    color: #fff;
    width: 100%;
    height: 195px;
    text-align: center;
    vertical-align: center;
}
img.icon-box {
    padding-top: 35px;
    margin: 0 auto;
}
p.title-box {
    font-size: 16px;
    padding-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.content-2 img.icon-box {
    padding-top: 50px;
}
footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f0f0f0;
    padding-top: 10px;
}
footer .left-footer {
    float: left;
    font-size: 16px;
}
footer .right-footer {
    float: right;
    font-size: 16px;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #fff;
    border-color: none !important;
}
.avatar {
    display: inline-block;
    padding-right: 4px;
}
.navbar-right {
    padding-top: 5px;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #fff;
}
nav.navbar-default {
    border-color: none !important;
}
.list-content {
    padding-bottom: 60px;
}
input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px)  {
    .box_1 {
        margin-bottom: 15px;
    }
    .box_2 {
        margin-bottom: 15px;
    }
    .box_3 {
        margin-bottom: 15px;
    }
    .box_4 {
        margin-bottom: 15px;
    }
    .content-2 {
        padding-top: 0px;
    }
    .box_5 {
        margin-bottom: 15px;
    }
    .box_6 {
        margin-bottom: 15px;
    }
    .box_7 {
        margin-bottom: 15px;
    }
    footer .left-footer {
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        float: none;
    }
    footer .right-footer {
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        float: none;
    }
    .navbar-header {
        padding-bottom: 20px;
    }
    .table-mobile {
        display: block;
        min-height: 300px;
        overflow-x: auto;
    }
}