.search-button {
    color: #f6811f;
}
.main-content {
    padding-bottom: 60px;
    /*padding-top: 30px;*/
}
.title_list {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    border-left: 12px solid #f6811f;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    margin-bottom: 30px;
}
.title_list a {
    color: #000;
}
.table tr th {
    text-transform: inherit;
    font-size: 13px;
}
.table > tbody > tr > td {
    border-top: 1px solid #000;
}
.table > thead > tr > th {
    border-bottom: 2px solid #000;
    font-family: 'Open Sans', sans-serif;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}
.table a i {
    color: #000;
}
.pagination {
    float: right;
}
.pagination a {
    color: black;
    float: left;
    padding: 5px 8px;
    text-decoration: none;
}
tr.header{
    cursor:pointer;
}
.header .sign:after{
    content:"\f0d7";
    display:inline-block;
    font-family: FontAwesome;
}
.header.expand .sign:after{
    content:"\f0da";
    font-family: FontAwesome;
}
.sub-table {
    border-top: none;
    background: #faf9fc;
    width: 100%;
}
.sub-table td {
    padding: 5px !important;
}

.main-content-add {
    padding-bottom: 10px;
}
.table-row
{
    display: table;
}
.title-row
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.heading-row
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.row-main
{
    display: table-row;
}
.cell-row
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.table td, .table th {
    border-top: none !important;
}
.select2-container--default .select2-selection--single {
    border-color: #ebedf2 !important;
    color: #575962 !important;
    height: 37px !important;
}
.dropdown-toggle_button::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-menu .dropdown-item:hover {
    background: #e6e6e6;
    color: #000000;
}
.drowdown-addnew {
    padding: 0;
}
.drowdown-addnew a {
    border-bottom: 1px solid #ebedf2;
}
.btn-border-none, .btn-delete {
    background: transparent;
    border: none;
    cursor: pointer;
}
.table td, .table th {
    padding: 0;
}
table.child-table {
    width: 77%;
    max-width: 100%;
    margin: 20px;
}
.child-table > thead > tr > th {
    border-bottom: none;
}
.child-table tr th {
    text-transform: uppercase;
    font-size: 12px;
}
.table-hover tbody tr:hover {
    background-color: #faf9fc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}
table tbody tr.header td {
    padding: 0 3px 0;
    text-align: center;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #f4f5f8;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #eaebec;
}
