.lst-kix_list_2-6 > li:before {
    content: "" counter(lst-ctn-kix_list_2-6, decimal) ". "
}

.lst-kix_list_2-7 > li:before {
    content: "" counter(lst-ctn-kix_list_2-7, lower-latin) ". "
}

.lst-kix_list_2-7 > li {
    counter-increment: lst-ctn-kix_list_2-7
}

.lst-kix_list_2-1 > li {
    counter-increment: lst-ctn-kix_list_2-1
}

ul.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_list_2-4 > li:before {
    content: "" counter(lst-ctn-kix_list_2-4, lower-latin) ". "
}

.lst-kix_list_2-5 > li:before {
    content: "" counter(lst-ctn-kix_list_2-5, lower-roman) ". "
}

.lst-kix_list_2-8 > li:before {
    content: "" counter(lst-ctn-kix_list_2-8, lower-roman) ". "
}

ol.lst-kix_list_2-6.start {
    counter-reset: lst-ctn-kix_list_2-6 0
}

ol.lst-kix_list_2-3.start {
    counter-reset: lst-ctn-kix_list_2-3 0
}

ul.lst-kix_list_1-3 {
    list-style-type: none
}

ul.lst-kix_list_1-4 {
    list-style-type: none
}

ul.lst-kix_list_1-1 {
    list-style-type: none
}

ul.lst-kix_list_1-2 {
    list-style-type: none
}

ul.lst-kix_list_1-7 {
    list-style-type: none
}

ul.lst-kix_list_1-8 {
    list-style-type: none
}

ul.lst-kix_list_1-5 {
    list-style-type: none
}

ul.lst-kix_list_1-6 {
    list-style-type: none
}

ol.lst-kix_list_2-5.start {
    counter-reset: lst-ctn-kix_list_2-5 0
}

.lst-kix_list_2-0 > li {
    counter-increment: lst-ctn-kix_list_2-0
}

.lst-kix_list_2-3 > li {
    counter-increment: lst-ctn-kix_list_2-3
}

.lst-kix_list_2-6 > li {
    counter-increment: lst-ctn-kix_list_2-6
}

ol.lst-kix_list_2-2.start {
    counter-reset: lst-ctn-kix_list_2-2 0
}

ol.lst-kix_list_2-2 {
    list-style-type: none
}

ol.lst-kix_list_2-3 {
    list-style-type: none
}

ol.lst-kix_list_2-4 {
    list-style-type: none
}

ol.lst-kix_list_2-5 {
    list-style-type: none
}

ol.lst-kix_list_2-0 {
    list-style-type: none
}

.lst-kix_list_2-4 > li {
    counter-increment: lst-ctn-kix_list_2-4
}

ol.lst-kix_list_2-1 {
    list-style-type: none
}

ol.lst-kix_list_2-8.start {
    counter-reset: lst-ctn-kix_list_2-8 0
}

.lst-kix_list_1-0 > li:before {
    content: "-  "
}

ol.lst-kix_list_2-6 {
    list-style-type: none
}

.lst-kix_list_1-1 > li:before {
    content: "o  "
}

.lst-kix_list_1-2 > li:before {
    content: "\0025aa  "
}

ol.lst-kix_list_2-0.start {
    counter-reset: lst-ctn-kix_list_2-0 0
}

ol.lst-kix_list_2-7 {
    list-style-type: none
}

ol.lst-kix_list_2-8 {
    list-style-type: none
}

.lst-kix_list_1-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_list_1-4 > li:before {
    content: "o  "
}

.lst-kix_list_1-7 > li:before {
    content: "o  "
}

ol.lst-kix_list_2-7.start {
    counter-reset: lst-ctn-kix_list_2-7 0
}

.lst-kix_list_1-5 > li:before {
    content: "\0025aa  "
}

.lst-kix_list_1-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-0 > li:before {
    content: "(" counter(lst-ctn-kix_list_2-0, decimal) ") "
}

.lst-kix_list_2-1 > li:before {
    content: "" counter(lst-ctn-kix_list_2-1, lower-latin) ". "
}

ol.lst-kix_list_2-1.start {
    counter-reset: lst-ctn-kix_list_2-1 0
}

.lst-kix_list_2-5 > li {
    counter-increment: lst-ctn-kix_list_2-5
}

.lst-kix_list_2-8 > li {
    counter-increment: lst-ctn-kix_list_2-8
}

.lst-kix_list_1-8 > li:before {
    content: "\0025aa  "
}

.lst-kix_list_2-2 > li:before {
    content: "" counter(lst-ctn-kix_list_2-2, lower-roman) ". "
}

.lst-kix_list_2-3 > li:before {
    content: "" counter(lst-ctn-kix_list_2-3, decimal) ". "
}

.lst-kix_list_2-2 > li {
    counter-increment: lst-ctn-kix_list_2-2
}

ol.lst-kix_list_2-4.start {
    counter-reset: lst-ctn-kix_list_2-4 0
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c0 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 162pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c36 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 298.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c40 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 192pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c5 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 45pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c17 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 36.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c26 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 94.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c14 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 67.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c10 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal
}

.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c21 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "VNI-Aptima";
    font-style: normal
}

.c13 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c15 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 10pt
}

.c29 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c12 {
    padding-top: 2pt;
    padding-bottom: 2pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c22 {
    padding-top: 6pt;
    padding-bottom: 18pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c16 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c9 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c41 {
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Times New Roman";
    color: #333333;
    font-weight: 400
}

.c27 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
    height: 10pt
}

.c32 {
    font-weight: 400;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Quattrocento Sans"
}

.c30 {
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Times New Roman";
    font-weight: 700
}

.c19 {
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Times New Roman";
    font-weight: 700
}

.c28 {
    font-weight: 400;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Times New Roman"
}

.c39 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c38 {
    font-weight: 400;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial"
}

.c33 {
    margin-left: -5.4pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c6 {
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c8 {
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 700
}

.c18 {
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c23 {
    color: #333333;
    text-decoration: none;
    font-style: normal
}

.c37 {
    color: #000000;
    text-decoration: none;
    font-style: italic
}

.c25 {
    color: #000000;
    text-decoration: none;
    font-style: normal
}

.c4 {
    background-color: #ffffff;
    max-width: 474.9pt;
    /*padding: 36pt 56.8pt 45pt 63.8pt*/
    margin: auto;
}

.c20 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c31 {
    padding: 0;
    margin: 0
}

.c1 {
    height: 54pt
}

.c34 {
    height: 10pt
}

.c24 {
    height: 28pt
}

.c35 {
    height: 20pt
}

.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "VNI-Aptima";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 10pt;
    font-family: "VNI-Aptima"
}

p {
    margin: 0;
    color: #000000;
    font-size: 10pt;
    font-family: "VNI-Aptima"
}

h1 {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "VNI-Aptima";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "VNI-Aptima";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "VNI-Aptima";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "VNI-Aptima";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "VNI-Aptima";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "VNI-Aptima";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}