/*
Author: Tung Tran
*/
* {margin:0;padding:0}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    line-height: 1.3;
    font-size: 13px;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
a:hover, a:focus {
    text-decoration: none;
    color: #fff;
}
header {
    /*padding-bottom: 20px;*/
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.page-link {
    padding: .3rem .75rem;
}
.form-control {
    color: black;
}
input::placeholder {
    color: #989898 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}
.header-title {
    font-size: 21px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 100px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.main-content {
    position: relative;
    margin:0 auto;
}
.main-box {
    margin: 100px auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
}
.content {
    padding-top: 20px;
    padding-bottom: 10px;
}
.content-2 {
    padding-top: 20px;
}
.box_1 {
    background: #f6811f;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.box_2 {
    background: #0054a6;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.box_3 {
    background: #1b1464;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.box_4 {
    background: #003663;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.box_5 {
    background: #197b30;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.box_6 {
    background: #0076a3;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.box_7 {
    background: #0a4217;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.box_8 {
    background: #a67c52;
    color: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
img.icon-box {
    padding-top: 35px;
    margin: 0 auto;
}
p.title-box {
    font-size: 16px;
    padding-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.content-2 img.icon-box {
    padding-top: 50px;
}
footer {
    /*display: none;*/
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f0f0f0;
    padding-top: 3px;
}footer p {
     margin-top: 0;
     margin-bottom: 3px;
 }
footer .left-footer {
    float: left;
    font-size: 16px;
}
footer .right-footer {
    float: right;
    font-size: 16px;
}
.navbar {
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.navbar-main-head {
    background-color: #fff;
}
img.avatar {
    padding-right: 4px;
    vertical-align: middle;
    max-width: 41px !important;
    text-align: left;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    float: left;
}
input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #575962;
    font-weight: 500;
    text-transform: inherit;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-add-color {
    color: #fff !important;
    background-color: #ea2505;
    border-color: #ea2505;
}
.btn-add-color:hover {
    color: #fff;
    background-color: #d82e13;
    border-color: #d82e13;
}
.btn-add-color-cat {
    color: #fff;
    background-color: #f6811f;
    border-color: #f6811f;
}

.btn-add-color-cat-right {
    color: #fff;
    background-color: #f6811f;
    border-color: #f6811f;
    float: right;
    margin-top: 20px;
}

.btn-add-color-group {
    color: #fff;
    background-color: #e22e2e;
    border-color: #e22e2e;
}
.btn-add-color-cat:hover {
    color: #fff;
}
.table_table {
    background: #fff;
    padding-bottom: 64px;
}
.table_head {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}
.navbar-right {
    padding-top: 5px;
}
.navbar-main-head .navbar-nav > li > a {
    color: #000;
}
.navbar-main-head .navbar-nav > .open > a, .navbar-main-head .navbar-nav > .open > a:hover, .navbar-main-head .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #fff;
}
nav.navbar-main-head {
    border-bottom: 1px solid #f0f0f0;
}
.list-content {
    padding-bottom: 60px;
}

.required {
    color: red;
}

/*Style for header*/
.m-card-user {
    padding: 20px;
}
.m-card-user .m-card-user__pic {
    display: table-cell;
    text-align: right;
    padding: 0 5px 0 0;
    vertical-align: middle;
    width: 70px;
}
.m-card-user .m-card-user__pic img {
    max-width: 70px !important;
    margin: 0 !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.m-card-user .m-card-user__details {
    display: table-cell;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    padding: 0 0 0 15px;
}
.dropdown-menu .m-dropdown__body {
    padding: 20px;
}
.m-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.m-nav .m-nav__section {
    display: table;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 10px 0;
}
.m-nav .m-nav__section .m-nav__section-text {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: uppercase;
}
.m--hide {
    display: none !important;
}
.btn.btn-default, .btn.btn-secondary {
    background: white;
    border-color: #ebedf2;
}
.m-nav .m-nav__separator {
    height: 0;
    margin: 15px 0;
}
.btn.m-btn--pill {
    border-radius: 60px;
}
.btn.m-btn--label-brand {
    color: #f48120;
}
.m-nav__link-icon {
    text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
    color: #ad5beb;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    width: 35px;
    font-size: 1.4rem;
    line-height: 0;
}
.m-nav__link-icon > i {
    font-size: 1.5rem;
}
.m-nav__link-icon > i:before {
    background: -webkit-linear-gradient(180deg, #ad5beb 25%, #c678db 50%, #da6ea9 75%, #e76e92 100%);
    background: linear-gradient(180deg, #ad5beb 25%, #c678db 50%, #da6ea9 75%, #e76e92 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.m-dropdown .m-dropdown__wrapper {
    top: 100%;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1100;
    padding-top: 0;
    width: 245px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.m-nav-grid {
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.m-nav-grid > .m-nav-grid__row {
    display: table-row;
}
.m-nav-grid > .m-nav-grid__row > .m-nav-grid__item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 3.3rem 0.75rem;
}
.m-dropdown .m-dropdown__wrapper .m-dropdown__inner {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}
.m-nav-grid .m-nav-grid__row .m-nav-grid__item {
    border-right: 1px solid #f4f5f8;
    border-bottom: 1px solid #f4f5f8;
}
.m-nav-grid > .m-nav-grid__row > .m-nav-grid__item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 3.3rem 0.75rem;
}
.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__icon {
    color: #c4c5d6;
}
.m-nav-grid > .m-nav-grid__row > .m-nav-grid__item .m-nav-grid__icon {
    text-align: center;
    font-size: 35px;
}
.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text {
    color: #f48120;
}
.nav-item .tabs_info_user {
    background: #ef6f29;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.select2-container--default .select2-selection--single {
    border-color: #ebedf2 !important;
    color: #575962 !important;
    height: 34px !important;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #4d4f50;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-toggle_button::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid #e8e3e3;
}
.dropdown-menu .dropdown-item:hover {
    background: #e6e6e6;
    color: #000000;
}
.dropdown-menu {
    padding: 0px;
}
/*End style for header*/
/*Notification*/
.alert.m-alert--outline.alert-danger.m-alert--icon-solid .m-alert__icon {
    position: relative;
    background: #ef6f29;
}
.alert.m-alert--icon.m-alert--outline.m-alert--icon-solid .m-alert__icon {
    position: relative;
    padding: 1.45rem 1.75rem;
}
.alert.m-alert--icon .m-alert__text {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 1.45rem 1.25rem;
}
.alert.m-alert--outline.alert-danger.m-alert--icon-solid .m-alert__icon i {
    color: #ffffff;
}
.alert.m-alert--icon.m-alert--outline.m-alert--icon-solid .m-alert__text {
    padding-left: 1.75rem;
}
.alert.m-alert--icon .m-alert__text {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 1.45rem 1.25rem;
}
/*ul, menu, dir {*/
    /*display: block;*/
    /*list-style-type: disc;*/
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
    /*padding-inline-start: 40px;*/
/*}*/
.alert.m-alert--outline.alert-danger {
    color: #575962;
    background-color: #ffffff;
    border-color: #f4516c;
    color: #f4516c;
    font-weight: 400;
}
.alert.m-alert--outline.alert-danger.m-alert--icon-solid .m-alert__icon i {
    color: #ffffff;
}
.alert.m-alert--icon {
    display: table;
    padding: 0;
}
.alert.m-alert--icon.m-alert--outline.m-alert--icon-solid .m-alert__icon span {
    top: 50%;
    margin-top: -6px;
    right: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border: 0;
    border-left: 6px solid #f4516c;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.alert.m-alert--outline.alert-danger {
    color: #575962;
    background-color: #ffffff;
    border-color: #f4516c;
    color: #f4516c;
    font-weight: 400;
}
.alert.m-alert--icon .m-alert__icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1.45rem 0.5rem 1.45rem 1.75rem;
    line-height: 0;
    width: 1%;
}
.alert.m-alert--outline.alert-danger.m-alert--icon-solid .m-alert__icon i {
    color: #ffffff;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.alert.m-alert--icon .m-alert__icon [class^="flaticon-"], .alert.m-alert--icon .m-alert__icon [class*=" flaticon-"] {
    font-size: 2.4rem;
}
.alert.m-alert--outline.alert-danger {
    color: #575962;
    background-color: #ffffff;
    border-color: #ef6f29;
    color: #ef6f29;
    font-weight: 400;
}
.alert .close {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.2rem;
    outline: none !important;
    text-shadow: none;
    padding-top: 0.95rem;
    padding-bottom: 0;
    cursor: pointer;
}
.alert.m-alert--icon .m-alert__close {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 1.45rem 1.75rem 1.45rem 1.25rem;
}
.alert.m-alert--outline.alert-danger .close {
    color: #f4516c;
}
.alert.m-alert--icon .m-alert__close .close {
    padding-bottom: 0;
    padding-top: 0.35rem;
    top: 0;
}
.alert .close:before {
    content: "x";
}
.alert-success:not(.m-alert--outline) {
    color: #f6fcfb;
    background-color: #45ccb1;
    border-color: #39c9ac;
}
label {
    font-weight: 400;
    color: #000000;
}
.btn-border-none, .btn-delete {
    background: transparent;
    border: none;
}
.btn-delete:focus {
    background: #f5f5f5;
}
/*ul, menu, dir {*/
    /*display: block;*/
    /*list-style-type: disc;*/
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
    /*padding-inline-start: 40px;*/
/*}*/
.dropdown__wrapper {
    right: 0;
    width: 325px;
}
.navbar-header-custom {
    right: -1px;
    width: 325px;
}
.navbar-header-custom-top {
    right: 0px;
}
.navbar-header-custom-top li {
    border-bottom: 1px solid #f0f0f0;
}
.navbar-header-custom-top li a {
    padding: 10px;
    color: #ef6f29;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    text-align: left;
}
.caret-none::after {
    display: none;
}
.dropdown-toggle:after {
    display: none;
}
.scroll-table {
    width: auto !important;
}
/*.wrap-table {*/
    /*overflow-x: auto*/
/*}*/

.table-responsive {
    display: inline-table;
}
.title-h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
}
.group_asset {
    font-size: 20px;
    font-weight: 600;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 768px)  {
    .box_1 {
        margin-bottom: 15px;
    }
    .box_2 {
        margin-bottom: 15px;
    }
    .box_3 {
        margin-bottom: 15px;
    }
    .box_4 {
        margin-bottom: 15px;
    }
    .content-2 {
        padding-top: 0px;
    }
    .box_5 {
        margin-bottom: 15px;
    }
    .box_6 {
        margin-bottom: 15px;
    }
    .box_7 {
        margin-bottom: 15px;
    }
    footer .left-footer {
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        float: none;
    }
    footer .right-footer {
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        float: none;
    }
    .navbar-header {
        padding-bottom: 20px;
    }
    .table-mobile {
        display: block;
        min-height: 300px;
        overflow-x: auto;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
        width: 100%;
    }
}
.form-control {
    padding: 6px 4px;
    border-color: #ebedf2 !important;
}
.select2-container {
    width: 100% !important;
}
.titleContractShow {
    font-weight: bold;
    font-size: 13px;
    width: 148px;
    display: inline-block;
}
.hd-txt {
    display: block;
    line-height: 35px;
    border-bottom: 1px dotted #ccc;
}
.asset-background {
    background: #f7f7f7;
    padding: 20px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
        margin-left: 20px;
    }
}