.title_contact {
    border-top: 1px solid #d7d7d7;
    padding-top: 40px;
}
.dropzone_file {
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.dropzone_file .style-file {
    margin: 4.2em 0;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}
.dz-message span {
    display: none;
}
.box_upload {
    background: #e1e1e1 !important;
    width: 100%;
    height: 180px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
}
.sub_title {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
}
.add_contact, .add_contract {
    /*background: #b7b7b7;*/
    padding-top: 10px;
    /*padding-bottom: 5px;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    cursor:pointer;
}
.border_provide {
    border-top: 1px solid #d7d7d7;
    padding-top: 40px;
}
.left_bid {
    float: left;
    padding-bottom: 30px;
}
.right_bid {
    float: right;
    padding-bottom: 30px;
}
.right_bid select {
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5px;
}
.check_bid {
    width: 18px;
    height: 18px;
    background: #b7b7b7;
    border: none;
    border-radius: 0;
}
.flatRoundedCheckbox
{
    position: relative;
}
.flatRoundedCheckbox label
{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 8px;
    background: #FFF;
}
.cross-title {
    border-top: 1px solid #d7d7d7;
}
.text_contract {
    padding-left: 7px;
}
.title_contract {
    /*border-top: 1px solid #d7d7d7;*/
    padding-top: 18px;
    padding-bottom: 18px;
}
.delete_bid {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}
.save_bid {
    background-color: #f6811f;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.main-content-add {
    padding-bottom: 10px;
}

.button {
    padding-bottom: 20px;
}
/*.form-control[readonly], .form-control {*/
    /*border-color: #ebedf2;*/
    /*color: #b9b9b9;*/
/*}*/

/*datatable cell*/
a {
    color: #5867dd;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__head {
    visibility: visible;
    display: block;
}
.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__head .m-datatable__row {
    display: table;
    table-layout: initial;
}
.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row {
    width: 100%;
}
.m-datatable > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell > span {
    color: #575962;
}
.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell {
    padding: 16px 10px;
}
.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell > span, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell > span, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell {
    vertical-align: middle;
    padding: 11px 10px;
    font-size: 1.0rem;
}
.m-datatable > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell {
    background: #f4f3f8;
}
/*End datatable cell*/

.dropzone .dz-preview {
    margin: 41px !important;
}

/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

div.blueTable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}
.divTable.blueTable .divTableHeading {
    border-bottom: 2px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
    color: #000;
    font-size: 13px;
    border-bottom: 2px solid #000;
    text-transform: capitalize;
    font-weight: bold;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none;
}
.sub_title_list {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 20px;
    text-transform: uppercase;
}
.save_role {
    background-color: #f6811f;
    border: none;
    color: white;
    padding: 10px 25px;
}
.delete_role {
    background-color: #ff0000;
    padding: 10px 25px;
    border: none;
    color: white;
}
label {
    font-weight: 700;
}
@media only screen and (max-width: 768px)  {
    .right_bid {
        float: none;
        padding-bottom: 30px;
    }
    .right_bid select {
        padding: 5px;
    }
}